<article>
	<h1>Curriculum</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ipsam itaque <a href="http://google.fr">minima</a>, nesciunt numquam, odio <a href="http://www.wikiwand.com/">officia</a> quia quo quod recusandae tempore totam voluptatem, voluptatum. Minima molestias nemo nihil perferendis ullam.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa cum cupiditate distinctio dolor
		excepturi odit placeat quasi quod rem? Corporis dolores est exercitationem laborum odit omnis praesentium totam.
		Ad aperiam at blanditiis <a href="http://bing.com">cumque</a> cupiditate expedita fugit harum id incidunt ipsam, laboriosam libero nesciunt
		nisi, nobis nostrum numquam odio officiis pariatur provident quod sapiente soluta sunt vel, vitae voluptatibus!
		Voluptates?</p>
	<ul>
		<li>Lorem ipsum dolor.</li>
		<li>Id, ipsam, quos !</li>
		<li>Magni, <strong>quaerat</strong> velit!</li>
		<li>Inventore, iure reiciendis.</li>
		<li>Aspernatur, inventore, sit.</li>
		<li>Lorem ipsum dolor sit.</li>
	</ul>
</article>
